.test {
  outline: 5px dotted green;
}

/* UNIVERSAL */
body {
  background: linear-gradient(#ffffff 80%, #f2f2f2);
  background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100vw auto;

  font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  color: #4F4F4F;
}

form {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    color: #4F4F4F;
}

button {
  border: none;
  background: none;
  padding: 0;
}

table {
  border-collapse: collapse;
}

.center-items-container {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.center-items {
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blue-btn {
  margin: 2.5px;
  padding: 0vh 2vw;
  height: 45px;

  background: #88CCF1;
  border-radius: 20px;
  border: 0px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 1.275em;
  color: #FFFFFF;

  display: flex;
  align-items: center;

  text-align: center;
}

.orange-btn {
  margin: 2.5px;
  padding: 0vh 2vw;
  height: 45px;

  background: #FFCE95;
  border-radius: 20px;
  border: 0px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 1.275em;
  color: #FFFFFF;

  display: flex;
  align-items: center;

  text-align: center;
}

.blue-btn:hover {
  background-color: #449DD1;

  -webkit-transition: all 0.125s ease-out;
  transition: all 0.125s ease-out;
}

.show-at-450 {
  display: none;
}

.show-at-825 {
  display: none;
}

/* INDEX */
.home-logo {
  width: 450px;
  height: auto;

  padding-bottom: 10px;
}

.home-slogan {
  letter-spacing: 0.15em;

  padding-bottom: 15px;
}

.login-btn-img {
  width: 35px;
  height: auto;

  padding-right: 10px;
}

/* OVERVIEW */
.top-bar-logo {
  width: auto;
  height: 100px;
}

.top-bar {
  height: 10vh;
  min-height: 100px;
  display: flex;
}

.space-information {
  width: 80vw;
  text-align: center;

  padding: 5px;
}

.profile-btns {
  width: 150px;
  height: 100px;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
}

.profile-btns button {
  float: right;
}

.space {
  min-width: 90%;
  min-width: 90vw;

  padding: 0;

  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.space-content {
  min-height: 79%;
  min-height: 79vh;

  display: flex;
  margin-top: 2vh;
  padding-top: 2vh;

  border-top: 1px solid gray;
}

.space-content table{
  margin-top: 2vh;
}

/* Mate Section */
.user-icon {
  width: 50px;
  height: auto;
  border-radius: 50px;
}

.mate-sect {
  min-width: 195px;
  text-align: center;
  margin-right: 20px;
}

.mate-sect table {
  margin-left: auto;
  margin-right: auto;
}

.mate-sect tr {
  min-height: 0px;

  padding-left: auto;
  padding-right: auto;
}

/* Task Section */
.task-sect {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task-sect .blue-btn {
  align-self: flex-end;
}

.task-sect .orange-btn {
  align-self: flex-end;
}

.task-sect table {
  width: 100%;
}

.task-sect tr {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 100%;
}

.task-sect tr .blue-btn {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  padding-left: auto;
  padding-right: auto;

  height: 30px;
  width: auto;

  font-size: 0.75em;
}

.task-sect tr .orange-btn {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  padding-left: auto;
  padding-right: auto;

  height: 30px;
  width: auto;

  font-size: 0.75em;
}

.task-sect td  {
  padding: 2.5px 10px;
}

.task-sect td button {
  float: right;
}

.task-sect td input {
  float: right;
}

.task-sect tr:first-child {
  border-top: 1px solid gray;
}

.task-sect tr:nth-child(5n) {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: none;
  border-right: none;
}

.task-sect tr:nth-child(5n + 1) {
  font-size: 1.25em;
}

.task-sect tr:last-child {
  border-bottom: none;
}

@media (max-width: 825px) {
  .blue-btn {
    padding: 0vh 15px;
    border-radius: 15px;
  }

  .home-logo {
    height: auto;
    width: 80vw;
  }

  .space-information {
    text-align: left;
  }

  .space {
    padding-left: 15px;
    padding-right: 15px;
  }

  .space-content {
    margin-top: 10px;
  }

  .space-content .blue-btn {
    margin-bottom: 20px;
  }

  .mate-sect {
    min-width: 100px;
  }

  .hide-at-825 {
    display: none;
  }

  .show-at-825 {
    display: inline-flex;
  }

  .space-content {
    margin-top: 10px;
  }

  .space-content table {
    margin-top: 0;
  }

  .mate-sect {
    min-width: 100px;
  }

  .hide-at-825 {
    display: none;
  }

  .show-at-825 {
    display: inline-flex;
  }

@media (max-width: 450px) {
  .space-content {
    font-size: 1em;
  }

  .mate-sect {
    min-width: 75px;
    font-size: 0.75em;
  }

  .mate-sect .blue-btn{
    font-size: 2em;
  }

  .hide-at-450 {
    display: none;
  }

  .show-at-450 {
    display: inline-flex;
  }
}

@media (max-height: 500px) {
  .home-logo {
    height: 40vh;
    width: auto;
  }
}
