.test {
  outline: 5px dotted green;
}

/* UNIVERSAL */
body {
  background: linear-gradient(#ffffff 80%, #f2f2f2);
  background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100vw auto;

  font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  color: #4F4F4F;
}

form {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    color: #4F4F4F;
}

button {
  border: none;
  background: none;
  padding: 0;
}

.center-items-container {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.center-items {
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blue-btn {
  padding: 0vh 2vw;
  height: 50px;

  background: #88CCF1;
  border-radius: 20px;
  border: 0px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 1.25em;
  color: #FFFFFF;

  display: flex;
  align-items: center;
}

.blue-btn:hover {
  background-color: #449DD1;

  -webkit-transition: all 0.125s ease-out;
  transition: all 0.125s ease-out;
}

/* INDEX */
.home-logo {
  width: 450px;
  height: auto;

  padding-bottom: 10px;
}

.home-slogan {
  letter-spacing: 0.15em;

  padding-bottom: 15px;
}

.login-btn-img {
  width: 35px;
  height: auto;

  padding-right: 10px;
}

/* OVERVIEW */
.top-bar-logo {
  width: auto;
  height: 80px;
}

.top-bar {
  height: 10vh;
  display: flex;
  align-items: center;

  overflow-y: visible;
}

.space {
  min-width: 90%;
  min-width: 90vw;

  padding: 0;

  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.space-content {
  min-height: 79%;
  min-height: 79vh;
}

.space-information {
  width: 80vw;
  text-align: center;

  padding-left: 5vw;
  padding-right: 5vw;
}

.user-icon {
  width: 50px;
  height: auto;
}

@media (max-width: 825px) {
  .blue-btn {
    padding: 0vh 1vw;
    height: 35px;

    background: #88CCF1;
    border-radius: 15px;
    border: 0px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 1em;
    color: #FFFFFF;

    display: flex;
    align-items: center;
  }

  .home-logo {
    height: 40vh;
    width: auto;
  }

  .top-bar {
    height: auto;
    overflow-y: scroll;
  }

  .top-bar-logo {
    display: none;
  }

  .space {
    padding-left: 15px;
    padding-right: 15px;
  }
}
