.test {
  outline: 5px dotted green;
}

/* UNIVERSAL */
body {
  background: linear-gradient(#ffffff 80%, #f2f2f2);

  font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  color: #4F4F4F;
}

.page {
  height: 100%;
  height: 100vh;
}

button {
  border: none;
  background: none;
  padding: 0;
}

/* HOME */
.home-items-container {
  min-height: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
}

.home-items {
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-logo {
  width: 450px;
  height: auto;

  padding-bottom: 10px;
}

.home-slogan {
  letter-spacing: 0.15em;

  padding-bottom: 15px;
}

.login-btn {
  padding: 0vh 2vw;
  height: 50px;

  background: #88CCF1;
  border-radius: 20px;
  border: 0px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25em;
  color: #FFFFFF;

  display: flex;
	align-items: center;
}

.login-btn:hover {
  background-color: #449DD1;

	-webkit-transition: all 0.125s ease-out;
	transition: all 0.125s ease-out;
}

.login-btn-img {
  width: 35px;
  height: auto;

  padding-right: 10px;
}

@media (max-width: 576px) {
  .home-logo {
      width: 90vw;
      height: auto;
  }
}

@media (max-height: 475px) {
  .home-logo {
      height: 40vh;
      width: auto;
  }
}
